// Apply a natural box layout model to all elements.
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  max-width: 100%;
}

body {
  @include container($grid-container);
  padding: 1.5rem;
  font-family: $alt-font-family;
  font-weight: 400;
  color: gray(35%);
  text-rendering: optimizeLegibility;
  word-wrap: break;
  max-width: 100%;

}

header {
  a.active {
    color: gray(60%);
    text-decoration: none;
    cursor: default;
  }
}
