.attr-row-category {
  float: left;
  margin-right: 20px;
}

.attr-row-attribute {
  float: left;
  font-size: small;
  margin-right:10px;
}

.attr-row {
  width: 100%;
  height:50px;
  clear:both;
  display:block;
}