.search-column {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.search-form {
  display: inline-block;
  width:50%;
}

#search-price {
  border:0;
  color:#f6931f;
  font-weight:bold;
}

#slider-range {
  margin-left: 50px;
  margin-right: 50px
}