.button-unselected {
  background-color: white;
}

.button-selected {
  background-color: yellow;
}

.toggle-button {
  max-width: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 3px;
  @extend .noselect;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}