.image-input {
  font-size: 14px;
  font-family: 'Open Sans';

  .image-input-button {
    display: inline-block;
    background-color: #3381C2;
    color: #FFFFFF;
    padding: 10px 20px 8px;
    cursor: pointer;
    text-align: center;
  }
}

.image-card {
  display: inline-block;
  position: relative;

  .image-card-image {
    height: 120px;
    margin: 0 5px 0 0;
    padding: 0;
  }

  .image-card-close {
    position: absolute;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #ED8888;
    padding: 0 7px;
    right: 5px;
    top: 0;
    cursor: pointer;
  }
}
